@{
	ViewData["Title"] = "Not implemented";
}

<div class="text-center">
	<h1 class="display-4 text-warning mb-4">Not implemented 😥</h1>
	<h3>Our team is working hard on implementing this feature.</h3>
</div>
