@{
	ViewData["Title"] = "Access denied";
}

<div class="text-center">
	<h1 class="display-4 text-danger mb-4">Access denied</h1>
	<h3>Please contact the system administrator for further help.</h3>
</div>