@{
	ViewData["Title"] = "Reservation Details";
}

@section Topbar {
	<a class="btn btn-primary btn-sm rounded-pill mr-2" asp-area="" asp-controller="@Controllers.Reservations" asp-action="@Actions.Index">Reservations</a>
}

<div>
	<h1 class="display-4 mb-4 text-center">Reservation details</h1>
</div>