@{
	ViewData["Title"] = "Administration";
}

<div class="text-center">
	<h1 class="display-4 mb-4">Administration</h1>
	<h2 class="my-auto">Here you can administrate the and adapt the software for your hotel.</h2>
</div>